* {
    box-sizing: border-box;
}

body {
    border: solid 4px#FCE6A8;
    background: #ced8e0;
    margin: 0;

    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-template-areas:
        "cabecalhoSecundario cabecalhoPrincipal"
        "aolado principal"
        "rodape2 rodape"
    ;
}

header {
    border: solid 4px#FCE6A8;
    grid-area: cabecalhoPrincipal;
    display: flex;
}

h1 {
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.cabecalhoSecundario {
    border: solid 4px#FCE6A8;
    grid-area: cabecalhoSecundario;
    /*  background-color: #9276ac;*/
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

a {
    text-decoration: none;
    background-color: #4B5C6B;
    color: white;
    margin: 8px;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    width: 100px;

}

main {

    border: solid 4px#FCE6A8;
    grid-area: principal;
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
    align-items: center;
    gap: 5px;
    background: #ced8e0;

}

aside {
    border: solid 4px#FCE6A8;
    grid-area: aolado;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divFooter {
    border: solid 4px #FCE6A8;
    grid-area: rodape2;
}

footer {
    border: solid 4px #FCE6A8;
    /* background: #9276ac;*/
    grid-area: rodape;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.foto {
    /*border: solid 1px black;*/
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #e3e8ed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_formulario {
    /*border: solid 2px green;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "nome sobrenome"
        "email email"
        "mensagem mensagem"
        "enviar enviar"
    ;
    margin-top: 20px;
    padding: 40px;
    gap: 15px;
    height: 380px;
    background-color: #e3e8ed;

}


h3 {
    margin: 0;
}

.input1 {
    grid-area: nome;
    height: 50px;
}

.input2 {
    grid-area: sobrenome;
    height: 50px;
}

.input3 {
    grid-area: email;
    width: 100%;
    height: 50px;
}

.input4 {
    grid-area: mensagem;
    margin: 5px 0px;
    height: 70px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.botao_enviar {
    grid-area: enviar;
    text-decoration: none;
    background-color: #4B5C6B;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;

}