* {
    box-sizing: border-box;
}

body {

    background: #FCE6A8;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-template-areas:
        "cabecalhoSecundario cabecalhoPrincipal"
        "aolado principal"
        "rodape rodape"
    ;
}

header {

    grid-area: cabecalhoPrincipal;
    display: flex;
}

h1 {
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.cabecalhoSecundario {

    grid-area: cabecalhoSecundario;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

a {
    text-decoration: none;
    background-color: #4B5C6B;
    color: white;
    margin: 8px;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    width: 100px;

}

main {


    grid-area: principal;
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
    align-items: center;
    gap: 5px;
    background: #d2e4e1;

}

aside {
    background: #d2e4e1;
    grid-area: aolado;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



footer {

    grid-area: rodape;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}

.foto {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #e3e8ed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_formulario {
    /*border: solid 2px green;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "nome sobrenome"
        "email email"
        "mensagem mensagem"
        "enviar enviar"
        "msgSucesso msgSucesso"
    ;
    margin-top: 20px;
    padding: 40px;
    gap: 15px;
    height: 380px;
    background-color: #e3e8ed;

}


h3 {
    margin: 0;
}

.input1 {
    grid-area: nome;
    height: 50px;
}

.input2 {
    grid-area: sobrenome;
    height: 50px;
}

.input3 {
    grid-area: email;
    width: 100%;
    height: 50px;
}

.input4 {
    grid-area: mensagem;
    margin: 5px 0px;
    height: 70px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.botao_enviar {
    grid-area: enviar;
    text-decoration: none;
    background-color: #4B5C6B;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;

}

.msgSucesso {
    display: none;
    grid-area: msgSucesso;
    text-align: center;
    background-color: #64e460;
    color: rgb(22, 8, 84);
    padding: 10px;
    border: none;
    border-radius: 5px;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
    width: 100%
}