* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {

    background: #FCE6A8;
    margin: 0;
    gap: 8px;
    padding: 8px;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-template-areas:
        "cabecalhoSecundario cabecalhoPrincipal"
        "principal principal"
        "rodape rodape"
    ;
}

header {
    background: #d2e4e1;
    grid-area: cabecalhoPrincipal;
    display: flex;
    align-items: center;
}

h1 {
    margin: 0px;
    text-align: center;
    flex-grow: 1;
}

.cabecalhoSecundario {
    background: #d2e4e1;
    grid-area: cabecalhoSecundario;
    /*  background-color: #9276ac;*/
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

a {
    text-decoration: none;
    background-color: #4B5C6B;
    color: white;
    margin: 8px;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    width: 100px;

}

main {
    width: 100%;
    margin-top: 0px;
    grid-area: principal;
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #d2e4e1;
    padding: 20px 30% 30px 25%;
}

.card {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #ced8e0;
    gap: 10px;
}

.card>* {
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

footer {
    padding: 12px;
    background: #d2e4e1;
    grid-area: rodape;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}



.container_input {
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.displayResultado {
    width: 85%;
    height: 90%;
    background-color: #788896;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 12px;
    box-sizing: border-box;
    margin: 10px;
flex-direction: column;

}

.displayResultado>* {

    align-self: center;
}

input {
    margin: 5px 0px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding: 0px 10px;
    box-sizing: border-box;
}

.botao {
    margin: 5px 0px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #4B5C6B;
    color: white;
    margin: 8px;
    padding: 08px;
    text-align: center;

}

h3 {
    margin: 0;
}

.erro {
    display: none;
    color: rgb(146, 18, 18);
    height: 40px;
    font-size: 20px;
}

nav {
    display: flex;
    gap: 3px;
}


.resultado_soma {
    font-size: 50px;
}

.nomePoke {
    display: flex;
    align-self: flex-start;
    margin: 0;
    padding: 2px;
    padding-top: 0;
}

#resultadoImagem {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    font-size: 10px;
    align-self: flex-end;
}